<div class="row">
    <div class="col-md-6">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="successMessage">
            {{ successMessage }}
        </div>
        <form [formGroup]="userForm">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
            <label for="personal_id">Personal ID</label>
            <input type="text" class="form-control" id="personal_id" formControlName="personal_id">
            <label for="phone">Phone number</label>
            <input type="text" class="form-control" id="phone" formControlName="phone">
            <label for="address">Adress</label>
            <input type="text" class="form-control" id="address" formControlName="address">
            <label for="status">Status</label>
            <select class="form-control" id="status" formControlName="status">
                <option selected>Choose...</option>
                <option value="active">Active</option>
                <option value="deleted">Deleted</option>
            </select>
            <label for="allow">Allowed to rent: </label>
            <input type="checkbox" class="form-control" id="allow" formControlName="allow" checked>
            <p> </p>

            <button class="btn btn-primary mt-2" (click)="createUser()">
                Save user
            </button>
        </form>
    </div>
</div>