<div class="row">
    <div class="col-md-6">
        <form [formGroup]="bookForm">
            <label for="type">Type</label>
            <select class="form-control" id="type" formControlName="type">
                <option selected>Choose...</option>
                <option value="cd">CD</option>
                <option value="book">Book</option>
                <option value="musicSheet">Music Sheet</option>
            </select>
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" formControlName="author">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title">
            <label for="date">Date</label>
            <input type="text" class="form-control" id="date" formControlName="date">
            <label for="status">Status</label>
            <select class="form-control" id="status" formControlName="status">
                <option selected>Choose...</option>
                <option value="available">available</option>
                <option value="taken">taken</option>
                <option value="rejected">rejected</option>
            </select>
            <label for="renter">Renter</label>
            <select [compareWith]="compareUsers" class="form-control" id="renter" formControlName="renter">
                <option selected value=null>None</option>
                <option *ngFor="let user of users" [ngValue]="user">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
            <label for="categories">Categories</label>
            <select [compareWith]="compareCategories" class="form-control" id="categories" formControlName="categories"
                multiple>
                <option *ngFor="let category of categories" [ngValue]="category">{{ category.title }}</option>
            </select>
            <button class="btn btn-primary mt-2" (click)="addBook()" [disabled]="bookForm.invalid">
                Save Entity
            </button>
        </form>
    </div>
</div>