<div class="row">
    <div class="col-md-9" style="border: 5px;">
        <h5>
            <b>{{ book.id }}</b>
            {{ book.title }}
            <p><b>{{ book.author }}</b></p>
            
        </h5>
        <p>
            <span class="badge badge-secondary" *ngFor="let category of book.categories">{{ category.title }}</span>
        </p>

        <p>{{ book.status }}</p>
        <button class="btn btn-sm btn-success" (click)="navigateToBookForm(book.id)">Edit</button>
        <hr>
    </div>
</div>